RewriteEngine On
# CORS 跨域设置
<FilesMatch "\.(ttf|otf|eot|woff|woff2|svg|json|font.css|css|js|gif|png|webp|jpg|jpeg|ico)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
# iframe 跨域设置
#Header always unset X-Frame-Options
# 禁止访问目录
RewriteRule ^(app|config|helper|extend|library|vendor)/ - [F]
# 禁止访问目录下指定的文件扩展名
RewriteRule (assets|data)/(.*).(php|phtml|inc|db|sql|log)$ – [F]
# URL 重写规则
RewriteRule ^$ index.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
# PHP 访问认证信息
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0